html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #000;
  color: #fff;
  font-family: "letter-gothic-std", sans-serif;
  font-weight: 700;
}
.cover {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background-color: #000;
}
a {
  color: #888;
}
#monument .wrap {
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 500px;
  margin-left: -250px;
}
#slider {
  width: 100%;
  height: 100%;
  height: 100vh;
  text-align: center;
}
#slider .cycle-slide-active .inner h1 {
  color: #fff;
}
#slider .section {
  width: 100%;
}
#slider .inner {
  width: 100%;
  height: 100vh;
}
#slider .inner h1 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 40px;
  line-height: 47px;
}
#slider .inner h1.morse {
  font-size: 30px;
}
#slider .inner h1.bottom {
  position: absolute;
  bottom: 0;
  text-align: left;
  width: 100%;
}
#slider .inner h1.bottom .pad {
  padding: 50px 50px 30px;
}
#slider .inner h1.colophon {
  /*padding: 50px 50px ;*/
  text-align: left;
  font-size: 20px;
  line-height: 26px;
  width: 60%;
  margin-left: -30%;
  left: 50%;
  top: 30vh;
  position: relative;
}
#slider .inner h1.colophon a {
  text-decoration: none;
  color: #fff;
  cursor: text;
}
#slider .inner img {
  display: block;
  max-width: 70%;
  margin: 0px auto 0;
  padding-top: 50px;
  max-height: 66vh;
}
#slider .inner.lr h1 {
  width: 60%;
}
#slider .inner.lr img {
  position: absolute;
  right: 50px;
  top: 45vh;
  max-height: none !important;
  height: 90vh;
  margin-top: -45vh;
  max-width: none !important;
}
#slider .inner .loaded p {
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 10px;
  color: #ddd;
}
#slider .inner button {
  font-family: "letter-gothic-std", sans-serif;
  border: none;
  color: #ddd;
  background: #373737;
  padding: 8px 13px;
  border-radius: 0;
  margin: 4rem 5px 0;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
}
#slider .inner button:hover {
  background: #fff;
  color: #000;
}
.cycle-slide-active button {
  transition: all 500ms ease-out;
}
.loader,
.loader:after,
.loader:before {
  border-radius: 50%;
}
.loader:after,
.loader:before {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #000;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 5em auto;
  position: relative;
  z-index: 201;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #fff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #000;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0 5.1em;
  transform-origin: 0 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
